html, body {
    background-color: beige;
}
.row_1{
    display: flex;
}
.first{
    height: fit-content;
    width: 60%;
    margin-left: 5%;
}
.second{
    height: fit-content;
    width: 25%;
    margin-right: 5%;
    margin-left: 5%;
}