#Map_vega {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
#boxandwhisker_vega {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
#idiom3_vega {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
#testidiom_vega {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
p,h1,h2,h3,h4,h5,h6,div {
    font-family: Noto Sans;
}