#Map_map {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
#boxandwhisker_map {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
#idiom3_map {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}
#testidiom_map {
    top:40px;
    bottom: 40px; 
    left: 50px;
    right: 50px;
    height: 40vw;
    width: 20vw;
    align-self: center;
}